.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  user-select: none;

  a {
    text-decoration: none;
  }
  h2 {
    color: white;
    font-size: 2rem;
  }
}

.logoFlip {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  color: var(--primary); /* texto azul */
  border-radius: 6px;
  background-color: transparent;
  transition: all 0.4s ease;
  transform-origin: center;
  transform: rotateX(360deg);
}

/* Efeito de hover suave sem sumir */
.logo:hover .logoFlip {
  background-color: var(--primary);
  color: #000;
  transform: rotateX(0deg);
  transition: all 0.4s ease;
}

/* Nav Desktop (inicialmente escondido) */
.navDesktop {
  display: none;
}

/* Botão do menu hamburguer (mobile) */
.menuButton {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text);
  width: 39px;
  height: 39px;
}

.menuButton svg {
  width: 100%;
  height: 100%;
  display: block;
}

/* Menu Mobile */
.mobileMenu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  /*max-width: 300px;*/
  height: 100vh;
  background: var(--primary); /* TODO: mudar isso */
  line-height: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: left 0.3s ease-in-out;
  z-index: 1001;
}

.mobileMenu.open {
  left: 0;
}

.mobileMenu a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin: 2rem;
  color: var(--text); /* TODO: mudar isso */
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25rem;
  transition: color 0.3s;
}

.mobileMenu a:hover {
  color: var(--primary);
}

/* Botão de fechar */
.closeButton {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--text);
}

/* Overlay escurecido */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
} /* Estilos para telas maiores (desktop) */
@media (min-width: 768px) {
  .header {
    padding: 2rem 10rem;
    position: relative;
  }

  .navDesktop {
    display: flex;
    gap: 3rem;
  }
  .navDesktop a {
    position: relative;
    display: flex;
    color: var(--text);
    font-weight: 500;
    text-decoration: none;
    font-size: 1.25rem;
    transition: color 0.3s;
    align-items: center;
    padding: 3px 0;
    gap: 0.25rem;
  }

  .navDesktop a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0%;
    height: 2px;
    background-color: var(--primary);
    transition: width 0.3s ease;
  }

  .navDesktop a:hover::after {
    width: 100%;
  }
  .navDesktop a:hover {
    color: var(--primary);
    transition: all 0.3s ease;
  }
  .menuButton {
    display: none;
  }

  .mobileMenu,
  .mobileMenu.open,
  .overlay {
    display: none !important;
  }
}
