.portfolioSection {
  position: relative;
  padding: 40px 4%;
  margin: 36px auto;
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 20px 5px #2985c8;
}

.titulo {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.interface {
  position: relative;
}

.carousel {
  padding-bottom: 40px;
}

.imgPort {
  width: 100%;
  height: 460px;
  background-size: cover;
  background-position: center;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  transition: background-position 0.8s ease-in-out;
  flex-shrink: 0;
}

.imgPort:hover {
  background-position: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: white;
  text-align: center;
}

.imgPort:hover .overlay {
  opacity: 1;
}

.projectDetails {
  width: 60%;
}

.projectDetails h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.projectDetails p {
  font-size: 16px;
  line-height: 1.5rem;
  margin: 0;
}

/* Setas personalizadas */
.arrowLeft,
.arrowRight {
  z-index: 2;
  position: absolute;
  top: 50%;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  text-align: center;
  color: var(--primary);
  cursor: pointer;
  border: 2px solid var(--primary);
  border-radius: 50%;
  background-color: #111;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-50%);
}

.arrowLeft {
  left: 10px;
}

.arrowRight {
  right: 10px;
}

.arrowLeft:hover,
.arrowRight:hover {
  transform: translateY(-50%) scale(1.1);
  box-shadow: 0 0 10px var(--primary-hover);
}
