@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --bg: #000;
  --text: #fff;
  --text-black: #000;
  --text-light: #ccc;
  --text-muted: #777;
  --primary: #2985c8;
  --primary-hover: #0056b3;
  --card-bg: #111;
  --card-bg-hover: #1a1a1a;
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

h2 {
  span {
    color: var(--primary);
  }
}

section {
  scroll-margin-top: 72px; /* default para mobile */
}

@media (min-width: 768px) {
  section {
    scroll-margin-top: 120px; /* ajustado para header maior em desktop */
  }
}
